/* .button {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 999px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.button:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border: none;
} */

.back-btn {
  background-image: url("/back.svg");
}

.more-btn {
  background-image: url("/more.svg");
}
