.chat-footer {
  position: absolute;
  bottom: 0;
  min-height: 70px;
  /* width: 100%; */
  left: 10px;
  right: 10px;
  /* padding: 10px;
  padding-top: 0; */
}

.chat-footer > * {
  position: absolute;
  bottom: 10px;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.new-message {
  padding: 15px 25px;
  left: 70px;
  right: 70px;
  height: 60px;
  max-height: 180px;
}

.chat-footer button {
  height: 60px;
  width: 60px;
}
.chat-footer button:focus {
  fill: #f79472;
  background-color: rgba(255, 255, 255, 0.6);
}

.emoji-button {
  left: 0;
  background-image: url("/emoji.svg");
}

.send-button {
  right: 0;
  background-image: url("/send_active.svg");
}
.send-button:disabled {
  background-image: url("/send.svg");
}
