@font-face {
  font-family: "Bahnschrift";
  src: url("./fonts/BAHNSCHRIFT.TTF");
  font-weight: 100 900;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  font-family: Bahnschrift, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 30px;
  font-size: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #333;
  --gray: #777;
}

.semilight {
  font-weight: 350;
}

.semibold {
  font-weight: 600;
}

p {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
  font-weight: 600px;
}

input[type="text"],
textarea,
.input {
  border: none;
  padding: 10px 25px;
  border-radius: 30px;

  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
}
input[type="text"]:focus,
textarea:focus,
.input:focus {
  outline: none;
}

textarea {
  resize: none;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

button {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 999px;
  background-color: transparent;
  background-position: center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: box-shadow 0.25s;
}
button:hover {
  /* box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25); */
  opacity: 60%;
  border: none;
}
button:focus {
  background-color: #eee;
}
button:disabled {
  cursor: auto;
  opacity: 100%;
}

/* input[type="checkbox"].toggle {
  position: absolute;
  z-index: -1;
  opacity: 0;
} */

.toggle {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  height: 0;
  width: 0;
}
.toggle + label {
  position: relative;
  cursor: pointer;
  text-indent: -999px;
  width: 60px;
  height: 30px;
  margin: 5px 10px;
  background: #eee;
  display: block;
  border-radius: 999px;
}
.toggle + label:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 40px;
  height: 40px;
  background: #edb6a2;
  border-radius: 90px;
  transition: 0.3s ease-in-out;

  /* width: 40px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  box-shadow: inset 0 0 0 1px var(--color25), inset 0 0 0 4px #FFF, inset -20px 0 0 4px #FFF;
  border-radius: 10px;
  margin-right: 0.5em;
  background-color: var(--color25);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  cursor: pointer; */
}
.toggle:checked + label:before {
  left: calc(100% + 5px);
  transform: translateX(-100%);

  background-color: #f79472;

  box-shadow: inset 0 0 0 1px var(--purple), inset 20px 0 0 4px #fff,
    inset 0px 0 0 4px #fff;
  background-image: var(--gradient);
}
label:active:before {
  width: 50px;
}

.clickable-div:hover {
  background-color: #eee;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    /* background-color: transparent; */
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background-color: #777b;
  /* box-shadow: inset 0 0 4px #eee; */
  border-radius: 4px;
}
